.register-welcome {
  border-radius: 10px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgb(166, 166, 166);
  box-shadow: 9px 9px 73px 34px rgba(255, 255, 255, 0.42);
}
